shadowsocks=74.119.193.40:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港快速（2）_R_191Ⓥ
shadowsocks=74.119.193.40:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港快速（2）_R_190Ⓥ
shadowsocks=74.119.193.40:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港快速（2）_R_189Ⓥ
shadowsocks=qj-hk01-1.lofunapi.com:27090, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_188Ⓥ
shadowsocks=qj-hk01-1.lofunapi.com:27090, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_187Ⓥ
shadowsocks=qj-hk01-1.lofunapi.com:27090, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_186Ⓥ
shadowsocks=qj-hk01-1.lofunapi.com:11600, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_185Ⓥ
shadowsocks=qj-hk01-1.lofunapi.com:11600, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_184Ⓥ
shadowsocks=qj-hk01-1.lofunapi.com:11600, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_183Ⓥ
shadowsocks=qj-hk01-1.lofunapi.com:39637, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_182Ⓥ
shadowsocks=qj-hk01-1.lofunapi.com:39637, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_181Ⓥ
shadowsocks=qj-hk01-1.lofunapi.com:39637, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_180Ⓥ
shadowsocks=3.36.61.175:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=韩国_R_142Ⓥ
shadowsocks=3.36.61.175:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=韩国_R_138Ⓥ
shadowsocks=3.36.61.175:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=韩国_R_106Ⓥ
shadowsocks=3.36.61.175:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=韩国_R_10Ⓥ
shadowsocks=103.199.17.104:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=越南_R_161Ⓥ
shadowsocks=103.199.17.104:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=越南_R_160Ⓥ
shadowsocks=103.199.17.104:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=越南_R_159Ⓥ
shadowsocks=147.45.45.170:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=荷兰_R_145Ⓥ
shadowsocks=147.45.45.170:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=荷兰_R_144Ⓥ
shadowsocks=147.45.45.170:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=荷兰_R_143Ⓥ
shadowsocks=57.128.176.99:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=英国_R_148Ⓥ
shadowsocks=57.128.176.99:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=英国_R_147Ⓥ
shadowsocks=57.128.176.99:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=英国_R_146Ⓥ
shadowsocks=5.181.20.198:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=芬兰_R_172Ⓥ
shadowsocks=5.181.20.198:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=芬兰_R_171Ⓥ
shadowsocks=5.8.18.30:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_1580
shadowsocks=5.8.18.30:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_1570
shadowsocks=5.8.18.30:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_1560
shadowsocks=18.212.111.176:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_137Ⓥ
shadowsocks=18.212.111.176:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_133Ⓥ
shadowsocks=18.212.111.176:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_132Ⓥ
shadowsocks=37.221.126.6:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=瑞典_R_170Ⓥ
shadowsocks=37.221.126.6:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=瑞典_R_169Ⓥ
shadowsocks=37.221.126.6:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=瑞典_R_168Ⓥ
shadowsocks=3.112.236.189:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_4Ⓥ
shadowsocks=3.112.236.189:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_139Ⓥ
shadowsocks=47.128.241.51:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_131Ⓥ
shadowsocks=3.112.236.189:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_129Ⓥ
shadowsocks=3.112.236.189:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_103Ⓥ
shadowsocks=13.213.48.235:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=新加坡_R_5Ⓥ
shadowsocks=13.213.48.235:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=新加坡_R_141Ⓥ
shadowsocks=13.213.48.235:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=新加坡_R_140Ⓥ
shadowsocks=47.128.241.51:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=新加坡_R_130Ⓥ
shadowsocks=13.213.48.235:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=新加坡_R_105Ⓥ
shadowsocks=80.66.79.97:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=摩尔多瓦_R_155Ⓥ
shadowsocks=80.66.79.97:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=摩尔多瓦_R_154Ⓥ
shadowsocks=80.66.79.97:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=摩尔多瓦_R_153Ⓥ
shadowsocks=45.142.213.81:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=拉脱维亚_R_195Ⓥ
shadowsocks=45.142.213.81:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=拉脱维亚_R_194Ⓥ
shadowsocks=85.209.154.208:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=德国_R_175Ⓥ
shadowsocks=85.209.154.208:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=德国_R_174Ⓥ
shadowsocks=5.181.21.104:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=奥地利_R_177Ⓥ
shadowsocks=5.181.21.104:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=奥地利_R_176Ⓥ
shadowsocks=85.208.108.42:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=加拿大_R_193Ⓥ
shadowsocks=85.208.108.42:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=加拿大_R_192Ⓥ
shadowsocks=91.207.183.54:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=俄罗斯_R_179Ⓥ
shadowsocks=91.207.183.54:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=俄罗斯_R_178Ⓥ
shadowsocks=89.221.225.80:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=以色列_R_197Ⓥ
shadowsocks=89.221.225.80:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=以色列_R_196Ⓥ
shadowsocks=42.51.12.7:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=中国_R_167Ⓥ
shadowsocks=42.51.12.7:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=中国_R_166Ⓥ
shadowsocks=42.51.12.7:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=中国_R_165Ⓥ
shadowsocks=61.147.96.136:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=中国_R_164Ⓥ
shadowsocks=61.147.96.136:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=中国_R_163Ⓥ
shadowsocks=61.147.96.136:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=774912:CfWeDPGmjz, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=中国_R_162Ⓥ