trojan=game-gecko.opossum872.cfd:443,password=3672449442956713984,over-tls=true, tls-verification=false, fast-open=false, udp-relay=false, tag=Paris  5
shadowsocks=3.35.174.241:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（新加坡）SG, Singapore
shadowsocks=52.79.101.162:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（台湾）TW, Taipei
shadowsocks=35.160.134.223:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（美国）US, Houston
shadowsocks=13.125.186.115:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（日本）JP, Osaka
shadowsocks=54.184.126.174:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（美国）HK, Los Angeles
shadowsocks=35.94.110.89:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（加拿大）CA, Vancouver
shadowsocks=43.203.240.54:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（日本）JP, Tokyo
shadowsocks=13.114.96.104:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（日本）JP, Tokyo 2
shadowsocks=3.112.245.114:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（香港）HK, Kowloon
shadowsocks=13.124.62.225:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（香港）HK, New Territories
shadowsocks=52.41.168.231:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（美国）US, Dallas 2
shadowsocks=54.180.133.38:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（韩国）KR, Incheon