;2024/4/28
shadowsocks=23.249.28.76:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_61Ⓥ
shadowsocks=23.249.28.75:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_600
shadowsocks=23.249.28.81:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_58Ⓥ
shadowsocks=23.249.28.80:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_56Ⓥ
shadowsocks=199.15.77.88:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_25Ⓥ
shadowsocks=199.15.77.86:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_24Ⓥ
shadowsocks=199.15.77.22:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_21Ⓥ
shadowsocks=13.125.149.60:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=韩国_R_100
shadowsocks=185.255.153.106:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_30Ⓥ
shadowsocks=185.255.153.107:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_29Ⓥ
shadowsocks=185.255.153.108:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_28Ⓥ
shadowsocks=185.255.153.118:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_27Ⓥ
shadowsocks=103.102.4.179:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_26Ⓥ
shadowsocks=185.188.5.41:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_40Ⓥ
shadowsocks=52.68.15.213:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_4Ⓥ
shadowsocks=185.188.5.40:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_39Ⓥ
shadowsocks=185.188.5.39:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_38Ⓥ
shadowsocks=185.188.5.38:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_340
shadowsocks=185.188.5.37:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_33Ⓥ
shadowsocks=13.229.206.143:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=724075:9CJvmP4Hq5, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=新加坡_R_50
shadowsocks=47.96.69.161:10001, method=chacha20-ietf-poly1305, password=Rap86deT, fast-open=false, udp-relay=false, tag=🇭🇰 HK 01 [推荐⭐]
shadowsocks=47.96.69.161:10001, method=chacha20-ietf-poly1305, password=Rap86deT, fast-open=false, udp-relay=false, tag=🇭🇰 HK 02
shadowsocks=47.96.69.161:10001, method=chacha20-ietf-poly1305, password=Rap86deT, fast-open=false, udp-relay=false, tag=🇭🇰 HK 03
shadowsocks=47.96.69.161:10001, method=chacha20-ietf-poly1305, password=Rap86deT, fast-open=false, udp-relay=false, tag=🇭🇰 HK 04
shadowsocks=47.96.69.161:10001, method=chacha20-ietf-poly1305, password=Rap86deT, fast-open=false, udp-relay=false, tag=🇭🇰 HK 05
shadowsocks=beromo.youxinye.com:22001, method=aes-128-gcm, password=91ee9465-8be4-4735-80de-f80023b8eaae, fast-open=false, udp-relay=false, tag=🇨🇳 TWN 01
shadowsocks=beromo.youxinye.com:22002, method=aes-128-gcm, password=91ee9465-8be4-4735-80de-f80023b8eaae, fast-open=false, udp-relay=false, tag=🇨🇳 TWN 02
shadowsocks=47.96.69.161:10001, method=chacha20-ietf-poly1305, password=Rap86deT, fast-open=false, udp-relay=false, tag=🇸🇬 SGP 01
shadowsocks=47.96.69.161:10001, method=chacha20-ietf-poly1305, password=Rap86deT, fast-open=false, udp-relay=false, tag=🇸🇬 SGP 02
shadowsocks=beromo.youxinye.com:26001, method=aes-128-gcm, password=91ee9465-8be4-4735-80de-f80023b8eaae, fast-open=false, udp-relay=false, tag=🇺🇸 USA 01
shadowsocks=beromo.youxinye.com:26002, method=aes-128-gcm, password=91ee9465-8be4-4735-80de-f80023b8eaae, fast-open=false, udp-relay=false, tag=🇺🇸 USA 02