shadowsocks=54.186.138.242:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（加拿大）CA, Vancouver
shadowsocks=52.69.182.181:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（日本）JP, Tokyo
shadowsocks=35.85.60.143:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（美国）US, Houston
shadowsocks=43.201.254.74:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（台湾）TW, Taipei
shadowsocks=3.112.216.172:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（香港）HK, Kowloon
shadowsocks=34.223.226.135:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（美国）US, Dallas 2
shadowsocks=34.221.171.67:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（美国）HK, Los Angeles
shadowsocks=52.69.37.205:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（新加坡）SG, Singapore
shadowsocks=52.69.70.123:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（韩国）KR, Incheon
shadowsocks=3.112.220.140:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（日本）JP, Tokyo 2
shadowsocks=18.183.77.249:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（日本）JP, Osaka
shadowsocks=176.34.0.69:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（香港）HK, New Territories
shadowsocks=194.246.114.96:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港（游戏）_R_265Ⓥ
shadowsocks=194.246.114.96:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港（游戏）_R_264Ⓥ
shadowsocks=194.246.114.96:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港（游戏）_R_263Ⓥ
shadowsocks=194.246.114.96:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_266Ⓥ
shadowsocks=194.246.114.80:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_246Ⓥ
shadowsocks=194.246.114.68:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_242Ⓥ
shadowsocks=194.246.114.68:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_241Ⓥ
shadowsocks=194.246.114.68:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_240Ⓥ
shadowsocks=194.156.99.218:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_239Ⓥ
shadowsocks=194.156.99.218:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_238Ⓥ
shadowsocks=194.156.99.218:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_237Ⓥ
shadowsocks=194.156.99.203:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_236Ⓥ
shadowsocks=194.156.99.203:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_235Ⓥ
shadowsocks=194.156.99.203:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_234Ⓥ
shadowsocks=194.156.98.229:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_233Ⓥ
shadowsocks=194.156.98.229:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_232Ⓥ
shadowsocks=194.156.98.229:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_231Ⓥ
shadowsocks=194.156.98.117:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_230Ⓥ
shadowsocks=194.156.98.117:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_229Ⓥ
shadowsocks=194.156.98.117:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_228Ⓥ
shadowsocks=74.119.193.40:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_191Ⓥ
shadowsocks=74.119.193.40:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_190Ⓥ
shadowsocks=74.119.193.40:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=香港_R_189Ⓥ
shadowsocks=3.36.61.175:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=韩国_R_142Ⓥ
shadowsocks=3.36.61.175:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=韩国_R_138Ⓥ
shadowsocks=3.36.61.175:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=韩国_R_106Ⓥ
shadowsocks=3.36.61.175:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=韩国_R_10Ⓥ
shadowsocks=45.67.35.42:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=荷兰_R_257Ⓥ
shadowsocks=45.67.35.42:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=荷兰_R_256Ⓥ
shadowsocks=45.67.35.42:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=荷兰_R_255Ⓥ
shadowsocks=45.159.248.119:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=英国_R_225Ⓥ
shadowsocks=45.159.248.119:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=英国_R_224Ⓥ
shadowsocks=5.181.20.198:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=芬兰_R_172Ⓥ
shadowsocks=5.181.20.198:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=芬兰_R_171Ⓥ
shadowsocks=74.119.194.153:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_2190
shadowsocks=74.119.194.153:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_2180
shadowsocks=216.225.201.244:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_152Ⓥ
shadowsocks=216.225.201.244:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_151Ⓥ
shadowsocks=216.225.201.244:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_150Ⓥ
shadowsocks=18.212.111.176:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_137Ⓥ
shadowsocks=18.212.111.176:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_133Ⓥ
shadowsocks=18.212.111.176:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=美国_R_132Ⓥ
shadowsocks=5.182.36.135:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=瑞士_R_201Ⓥ
shadowsocks=5.182.36.135:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=瑞士_R_200Ⓥ
shadowsocks=37.221.126.6:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=瑞典_R_170Ⓥ
shadowsocks=37.221.126.6:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=瑞典_R_169Ⓥ
shadowsocks=37.221.126.6:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=瑞典_R_168Ⓥ
shadowsocks=77.91.102.197:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=波兰_R_217Ⓥ
shadowsocks=77.91.102.197:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=波兰_R_216Ⓥ
shadowsocks=94.131.118.38:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=法国_R_199Ⓥ
shadowsocks=94.131.118.38:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=法国_R_198Ⓥ
shadowsocks=45.12.134.79:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_2600
shadowsocks=5.253.41.223:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_251Ⓥ
shadowsocks=5.253.41.223:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_250Ⓥ
shadowsocks=5.253.41.223:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_249Ⓥ
shadowsocks=5.253.41.237:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_207Ⓥ
shadowsocks=5.253.41.237:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=日本_R_206Ⓥ
shadowsocks=13.213.48.235:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=新加坡_R_5Ⓥ
shadowsocks=13.213.48.235:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=新加坡_R_141Ⓥ
shadowsocks=13.213.48.235:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=新加坡_R_140Ⓥ
shadowsocks=47.128.241.51:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=新加坡_R_130Ⓥ
shadowsocks=13.213.48.235:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=新加坡_R_105Ⓥ
shadowsocks=91.225.217.80:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=挪威_R_213Ⓥ
shadowsocks=91.225.217.80:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=挪威_R_212Ⓥ
shadowsocks=45.142.213.81:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=拉脱维亚_R_195Ⓥ
shadowsocks=45.142.213.81:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=拉脱维亚_R_194Ⓥ
shadowsocks=95.164.46.114:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=意大利_R_254Ⓥ
shadowsocks=95.164.46.114:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=意大利_R_253Ⓥ
shadowsocks=95.164.46.114:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=意大利_R_252Ⓥ
shadowsocks=95.164.16.239:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=德国_R_227Ⓥ
shadowsocks=95.164.16.239:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=德国_R_226Ⓥ
shadowsocks=85.209.154.208:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=德国_R_175Ⓥ
shadowsocks=85.209.154.208:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=德国_R_174Ⓥ
shadowsocks=5.181.21.104:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=奥地利_R_177Ⓥ
shadowsocks=5.181.21.104:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=奥地利_R_176Ⓥ
shadowsocks=86.104.75.9:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=匈牙利_R_203Ⓥ
shadowsocks=86.104.75.9:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=匈牙利_R_202Ⓥ
shadowsocks=85.208.108.42:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=加拿大_R_193Ⓥ
shadowsocks=85.208.108.42:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=加拿大_R_192Ⓥ
shadowsocks=91.207.183.54:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=俄罗斯_R_179Ⓥ
shadowsocks=91.207.183.54:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=俄罗斯_R_178Ⓥ
shadowsocks=89.221.225.80:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=以色列_R_197Ⓥ
shadowsocks=89.221.225.80:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=以色列_R_196Ⓥ
shadowsocks=42.51.12.7:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=中国_R_167Ⓥ
shadowsocks=42.51.12.7:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=中国_R_166Ⓥ
shadowsocks=42.51.12.7:50023, method=aes-256-cfb, password=3cIuxhJCkK, ssr-protocol=auth_aes128_md5, ssr-protocol-param=830165:QELhUFz2s0, obfs=tls1.2_ticket_auth, obfs-host=ajax.microsoft.com, fast-open=false, udp-relay=false, tag=中国_R_165Ⓥ
