shadowsocks=54.179.241.46:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（韩国）KR, Incheon
shadowsocks=54.186.138.242:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（美国）US, Dallas 2
shadowsocks=52.69.37.205:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（台湾）TW, Taipei
shadowsocks=54.169.236.64:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（日本）JP, Osaka
shadowsocks=13.231.36.179:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（日本）JP, Tokyo
shadowsocks=13.214.209.23:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（香港）HK, Kowloon
shadowsocks=43.201.254.74:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（新加坡）SG, Singapore
shadowsocks=54.202.197.222:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（美国）US, Houston
shadowsocks=54.245.213.63:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（美国）HK, Los Angeles
shadowsocks=13.212.34.140:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（香港）HK, New Territories
shadowsocks=35.87.154.95:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（加拿大）CA, Vancouver
shadowsocks=52.69.70.123:443, method=aes-256-cfb, password=amazonskr05, fast-open=false, udp-relay=false, tag=VIP專綫（日本）JP, Tokyo 2
