{"msg":"发现最新版本请更新!作者频道 : https://t.me/GieGie777","data":{"playurl":"http://api.hclyz.com:81/mf/jiekou.php?name=","url":"https://t.me/GieGie777","Update":0},"code":1}