{"msg":"发现最新版本请更新!作者频道 : https://t.me/GieGie777","data":{"playurl":"https://web12.yeyanweb2.xyz/api/direct/gethousetwozhubo?address=","url":"https://www.icloud.com/shortcuts/f31220c3252942629c1c54611b132be5","Update":0},"code":1}