{
  "code" : 200,
  "success" : 1,
  "msg" : "发现最新版本请更新!此次更新加了1万个直播源！作者频道 : https://t.me/GieGie777",
  "url" : "https://www.icloud.com/shortcuts/ab675b59aaeb478b8fef9cf80866f479",
  "Update" : 1
}